$large-phone: 414px !default;
$tablet: 720px !default;
$desktop: 992px !default;
$desktop-large: 1440px !default;
$desktop-extra-large: 1920px !default;

$breakpointList: (
    'large-phone': $large-phone,
    'tablet': $tablet,
    'desktop': $desktop,
    'desktop-large': $desktop-large,
    'desktop-extra-large': $desktop-extra-large
) !default;

:export {
    @each $name, $width in $breakpointList {
        #{$name}: #{$width};
    }
}
