@forward 'mixins';
@forward 'variables';

@use 'mixins' as *;
@use 'variables' as *;

%heading-style {
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    font-weight: $heading-font-weight;
    margin-bottom: $heading-margin-bottom;
    margin-top: $heading-margin-top;
    color: $heading-font-color;
}

%body-style {
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $base-font-color;
}

@if $use-text-sizing {

    body,
    %base-text {
        @extend %body-style;
        @include responsive-sizing($base-sizes);
    }

    h1,
    .h1-text,
    %h1-text {
        @extend %heading-style;
        @include responsive-sizing($h1-sizes);
    }

    h2,
    .h2-text,
    %h2-text {
        @extend %heading-style;
        @include responsive-sizing($h2-sizes);
    }

    h3,
    .h3-text,
    %h3-text {
        @extend %heading-style;
        @include responsive-sizing($h3-sizes);
    }

    h4,
    .h4-text,
    %h4-text {
        @extend %heading-style;
        @include responsive-sizing($h4-sizes);
    }

    h5,
    .h5-text,
    %h5-text {
        @extend %heading-style;
        @include responsive-sizing($h5-sizes);
    }

    h6,
    .h6-text,
    %h6-text {
        @extend %heading-style;
        @include responsive-sizing($h6-sizes);
    }
}